/* form1 */
.container {
    display: flex;
}

button {
    border: none;
    outline: none;
    background-color: #EDEDED;
}

.left {
    width: 15vw;
    height: 97vh;
}

div.goto {
    position: relative;
    left: 5vw;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #FFBD2D;
    background-color: #F6F6F6;
    transition: all .25s;
}

div.goto:hover {
    width: 120px;
    height: 520px;
    border-radius: 60px;
}

div.goto:hover span.goto {
    opacity: 0;
    display: none;
}

.button-group {
    position: absolute;
    top: -999vh;
    left: -999vw;
    transition: all .25s;
}

div.goto:hover .button-group {
    position: absolute;
    top: 6.5vh;
    left: .6vw;
    opacity: 1;
    display: block;
}

.button-group button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 5px;
    font-size: 12px;
    font-weight: bold;
}

.close-top,
.close-bottom {
    position: relative;
    width: fit-content;
    font-size: 12px;
}

.close-top:hover,
.close-bottom:hover {
    color: #333333;
    font-size: 16px;
    left: 1.75vw;
}

.close-top {
    top: -2vh;
    left: 2.5vw;
}

.close-bottom {
    top: 2vh;
    left: 2vw;
}

.q1,
.q3,
.q5,
.q7,
.q9,
.q11,
.q13,
.q15 {
    box-shadow: 2px 2px #333333;
    transition: all .5s;
}

.q2,
.q4,
.q6,
.q8,
.q10,
.q12,
.q14,
.q16 {
    box-shadow: -2px 2px #333333;
    transition: all .5s;
}

.q1:hover,
.q3:hover,
.q5:hover,
.q7:hover,
.q9:hover,
.q11:hover,
.q13:hover,
.q15:hover {
    border: 3px solid #FFFFFF;
    box-shadow: none;
    transform: translate(.5vh);
}

.q2:hover,
.q4:hover,
.q6:hover,
.q8:hover,
.q10:hover,
.q12:hover,
.q14:hover,
.q16:hover {
    border: 3px solid #FFFFFF;
    box-shadow: none;
    transform: translate(-.5vh);
}

.print {
    position: absolute;
    left: 6vw;
    bottom: 10vh;
    font-size: 12px;
    font-weight: bold;
    color: #FFBD2D;
    transform: rotate(270deg);
}

.right {
    width: 85vw;
    height: 97vh;
}

img {
    position: relative;
    top: 1%;
    left: 50%;
    width: 60px;
    margin: 0 auto;
    transform: translate(-50%, 0);
}

.form {
    position: relative;
    top: 2vh;
    left: 15vh;
    width: 1000px;
    height: 450px;
    border: 2px solid #EDEDED;
    background-color: #FFFFFF;
    transition: box-shadow .5s;
}

.form:hover {
    box-shadow: -4px 4px 5px .5px #EDEDED;
}

.form::before,
.form::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
}

.form::before {
    left: -13px;
    top: 10px;
    z-index: -1;
    border: 2px solid #EDEDED;
}

.form::after {
    left: -25px;
    top: 20px;
    z-index: -2;
    border: 2px solid #EDEDED;
    box-shadow: -10px 10px #EDEDED;
}

.buttons {
    position: relative;
    top: 9vh;
}

.back,
.next {
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
}

.back {
    position: relative;
    top: .25vh;
    left: 20vw;
    transition: border-radius 1s, box-shadow 1s, top 1s;
}

.back:hover {
    top: 0vh;
    border-radius: 0;
    box-shadow: 5px 5px #333333;
}

.next {
    position: relative;
    top: .25vh;
    left: 45vw;
    transition: border-radius 1s, box-shadow 1s, top 1s;
}

.next:hover {
    top: 0vh;
    border-radius: 0;
    box-shadow: -5px 5px #333333;
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    div.goto {
        position: relative;
        top: .5vh;
        left: 1vw;
        width: 50px;
        height: 50px;
        font-size: 12px;
    }

    div.goto:hover {
        width: 90px;
        height: 380px;
        border-radius: 60px;
    }

    div.goto:hover .button-group {
        position: absolute;
        top: 3vh;
    }

    .button-group button {
        width: 30px;
        height: 30px;
        margin: 5px;
        font-size: 8px;
        font-weight: bold;
    }

    .close-top,
    .close-bottom {
        position: relative;
        left: 3.5vw;
        width: fit-content;
        font-size: 8px;
    }

    .close-top:hover,
    .close-bottom:hover {
        color: #333333;
        font-size: 8px;
        left: 3.5vw;
    }

    .close-top {
        top: -1vh;
    }

    .close-bottom {
        top: 1vh;
    }

    .q1,
    .q3,
    .q5,
    .q7,
    .q9,
    .q11,
    .q13,
    .q15 {
        box-shadow: 1px 1px#333333;
        /* transition: all .5s; */
    }

    .q2,
    .q4,
    .q6,
    .q8,
    .q10,
    .q12,
    .q14,
    .q16 {
        box-shadow: -1px 1px#333333;
        /* transition: all .5s; */
    }

    .q1:hover,
    .q3:hover,
    .q5:hover,
    .q7:hover,
    .q9:hover,
    .q11:hover,
    .q13:hover,
    .q15:hover {
        border: 2px solid #FFFFFF;
        box-shadow: none;
        transform: translate(.5vh);
    }

    .q2:hover,
    .q4:hover,
    .q6:hover,
    .q8:hover,
    .q10:hover,
    .q12:hover,
    .q14:hover,
    .q16:hover {
        border: 2px solid #FFFFFF;
        box-shadow: none;
        transform: translate(-.5vh);
    }

    .print {
        position: absolute;
        left: 2.5vw;
        bottom: 12vh;
        font-size: 8px;
    }

    img {
        position: relative;
        top: .5%;
        left: 50%;
        width: 50px;
    }

    .form {
        position: relative;
        top: 2vh;
        left: 6vh;
        width: 600px;
        height: 340px;
        border: 1.5px solid #EDEDED;
        background-color: #FFFFFF;
        transition: box-shadow .5s;
    }

    .form:hover {
        box-shadow: -2px 2px 2.5px .25px #EDEDED;
    }

    .form::before,
    .form::after {
        border: 1.5px solid #EDEDED;
    }

    .form::before {
        left: -10px;
        top: 7px;
        z-index: -1;
    }

    .form::after {
        left: -20px;
        top: 15px;
        z-index: -2;
        box-shadow: -7.5px 7.5px #EDEDED;
    }

    .back,
    .next {
        padding: 7.5px 15px;
        border-radius: 15px;
        font-size: 12px;
    }

    .back:hover {
        box-shadow: 2.5px 2.5px #333333;
    }

    .next:hover {
        top: 0vh;
        border-radius: 0;
        box-shadow: -2.5px 2.5px #333333;
    }


}